enhanced_tables_dataset/
table_dataset/
OCR_preprocessed/
output/
table_dataset/
table_dataset_coco/
table_dataset_new_optio/
table_dataset_opti2/
table_dataset_yolo/
__pycache__/
outdated2/
table_dataset_old/
table_dataset_realx1200/
table_dataset_real/
outdated_zip/
.vscode/
results/
yolox_table_dataset_simple/
yolox_table_dataset_simple.zip
yolox_table_dataset_simple_old/
yolox_table_dataset_simple22/
yolox_table_dataset_simple233/
yolox_table_dataset_simple3/
yolox_table_dataset_simple233-0918/
yolox_table_dataset_simple233-0919/
yolox_table_dataset_simple233-0919-2/
yolox_table_dataset_simple233-0920-5/
yolox_table_dataset_simple233-0920-MORE-MERGED-TITLE/
yolox_table_dataset_simple233-0919-3.zip
yolox_table_dataset_simple233-0920-5.zip
yolox_table_dataset_simple233-0920-MORE-MERGED-TITLE.zip
yolox_table_dataset_simple233-0920-MORE-MERGED.zip
rtmdet_dataset/
old/
rtmdet_dataset.zip
/rtmdet_dataset
*.png
